<%= @player.name %>:

<ul>
  <li>
    <p>
      Passing Yards: <%= @results[8] %>
    </p>
  </li>
  <li>
    <p>
      Passing Attempts: <%= @results[6] %>
    </p>
  </li>
  <li>
    <p>
      Passing Completions: <%= @results[7] %>
    </p>
  </li>
  <li>
    <p>
      Passing Touchdowns: <%= @results[9] %>
    </p>
  </li>
  <li>
    <p>
      Interceptions: <%= @results[10] %>
    </p>
  </li>
  <li>
    <p>
      Sacked: <%= @results[11] %>
    </p>
  </li>
</ul>
