<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <a href="/" class='brand'>Mind On The Ball</a>
    <div class="container-fluid">
        <ul class="nav navbar-nav pull-right">
            <li><%= link_to "Stats", stats_path %></li>
            <li><%= link_to "Predictions", predictions_path %></li>
            <li><%= link_to "Blog", '/blog' %></li>
          <% if current_user %>
            <li><%=  link_to "Hello, #{current_user.name}", root_path %></li>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", github_login_path %></li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
